[Desktop Entry]
Encoding=UTF-8
Name=GETHDRS
GenericName=Viewer for HTTP Headers
Comment=Perform an HTTP request and show the headers from the response
Exec=gethdrs
TryExec=gethdrs
Terminal=false
Type=Application
Icon=/usr/share/icons/hicolor/scalable/apps/gethdrs.svg
Categories=System;Utility;
StartupNotify=false
